<p id="notice"><%= notice %></p>

<p>
  <strong>Space available:</strong>
  <%= @grade.space_available %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
