<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cep %><br>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :birth_data %><br>
    <%= f.date_select :birth_data %>
  </div>
  <div class="field">
    <%= f.label :responsible_name %><br>
    <%= f.text_field :responsible_name %>
  </div>
  <div class="field">
    <%= f.label :responsible_cpf %><br>
    <%= f.text_field :responsible_cpf %>
  </div>
  <div class="field">
    <%= f.label :intented_grade %><br>
    <%= f.text_field :intented_grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
