<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Cep</th>
      <th>Birth data</th>
      <th>Responsible name</th>
      <th>Responsible cpf</th>
      <th>Intented grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.latitude %></td>
        <td><%= student.longitude %></td>
        <td><%= student.name %></td>
        <td><%= student.cep %></td>
        <td><%= student.birth_data %></td>
        <td><%= student.responsible_name %></td>
        <td><%= student.responsible_cpf %></td>
        <td><%= student.intented_grade %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
