<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @student.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @student.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @student.cep %>
</p>

<p>
  <strong>Birth data:</strong>
  <%= @student.birth_data %>
</p>

<p>
  <strong>Responsible name:</strong>
  <%= @student.responsible_name %>
</p>

<p>
  <strong>Responsible cpf:</strong>
  <%= @student.responsible_cpf %>
</p>

<p>
  <strong>Intented grade:</strong>
  <%= @student.intented_grade %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
