<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @coordinate.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @coordinate.longitude %>
</p>

<%= link_to 'Edit', edit_coordinate_path(@coordinate) %> |
<%= link_to 'Back', coordinates_path %>
