<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>City name:</strong>
  <%= @school.city_name %>
</p>

<p>
  <strong>Room quantity:</strong>
  <%= @school.room_quantity %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
